.pin {
  display: inline-block;
  background-image: url("/img/pin.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  padding: 5px;
  margin: 40px 0px;
  font-size: 10px;
  line-height: 60px;
  border: 1px solid black;
}

.pin--down {
  color: red;
  border-color: red;
}

.pin--up {
  color: green;
  border-color: green;
}
